.H1_DIV_HD{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(6, 6, 58);
    height: 15vh;
}
.H1_DIV_HD_H1{
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.DIV_D_P{
    margin: 10px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.DIV_D_P_PD{
    text-align: center;
    text-wrap: pretty;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 500;
}
.DIV_LNK_D{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    height: 20vh;
}
.DIV_LNK_D_LINK{
    text-decoration: none;
    padding: 15px;
    color: white;
    background-color: rgb(6, 6, 58);
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .DIV_D_P{
        height: 50vh;
    }    
}
@media screen and (max-width: 500px){
    .DIV_D_P{
        height: 70vh;
    }    
}
@media screen and (max-width: 375px){
    .DIV_D_P{
        height: 100vh;
    }    
}